.sotnSeasonButton{
	font-size: 18px;
	font-weight: bold;
	color: #0E1336;
	letter-spacing: 1px;
	text-align: center;
	box-sizing: border-box;
	border: 2px solid #0E1336;
	display: inline-block;
	padding: 0px;
	width: 50px;
	height: 32px;
	line-height: 28px;
	float: left;
}

.sotnSeasonButton:hover{
	color: #F57E20;
	border: 2px solid #F57E20;
}

#titleSeason{
	width: 100%;
	border-bottom: 0px;
}