
.button {
	cursor: pointer;
	background-color: #CCCCCC;
	-webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.buttonMenu{
	font-size: 18px;
	font-weight: bold;
	color: #0E1336;
	letter-spacing: 1px;
	text-align: center;
	box-sizing: border-box;
	border: 2px solid #0E1336;
	display: inline-block;
	padding: 0px;
	width: 245px;
	height: 32px;
	line-height: 28px;
}

.buttonMenu:hover{
	color: #F57E20;
	/* border: 2px solid #F57E20; */
}

.selected{
	background-color: #0E1336;
	color: #FFFFFF !important;
}