/*
DARK BLUE - #0E1336;
LIGHT BLUE - #4376BB;
PURPLE - #523877;
ORANGE - #F57E20;
GREEN - #5C9240;
*/

html,
body
{
	width: 100%;
	min-height: 100vh;
	margin: 0px;
	padding: 0px;
	background-color: #CCCCCC;
	/* text-align: center; */
	/* font: 13px Helvetica, Arial; */
}

html{overflow-y: scroll;}

@media (min-width: 1200px) {
	body {
        background-image: url("https://kentobeans.live/assets/images/pattern-l.png"), url("https://kentobeans.live/assets/images/pattern-r.png");
		background-position: left top, right top;
		background-repeat: repeat-y, repeat-y;
    }
}

/* @font-face {
	font-family: "MavenPro";
	src: url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=optional");
} */

*{
	font-family: "Maven Pro", Helvetica, Arial;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/** New Styles **/

.roundedTopLeft {
	border-top-left-radius: 8px;
}

.roundedTopRight {
	border-top-right-radius: 8px;
}

.roundedBottomLeft {
	border-bottom-left-radius: 8px;
}

.roundedBottomRight {
	border-bottom-right-radius: 8px;
}

.subheading {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	background-color: #523877;
}

/** End New Styles **/

#menuTop{padding-top: 20px;}

#container{
	width: 1000px;
	display: inline-block;
	text-align: center;
}

.innerContainer{
	display: inline-block;
	text-align: center;
	margin: 0px;
	padding: 0px;
}


.button {
	cursor: pointer;
	background-color: #CCCCCC;
	-webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.buttonMenu{
	font-size: 18px;
	font-weight: bold;
	color: #0E1336;
	letter-spacing: 1px;
	text-align: center;
	box-sizing: border-box;
	border: 2px solid #0E1336;
	display: inline-block;
	padding: 0px;
	width: 245px;
	height: 32px;
	line-height: 28px;
}

.buttonMenu:hover{
	color: #F57E20;
	/* border: 2px solid #F57E20; */
}


.leftButtonA{
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.rightButtonA{
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-left: 0px;
	margin-left: -2px;
}

.leftButtonB{
	border-bottom-left-radius: 8px;
}

.rightButtonB{
	border-bottom-right-radius: 8px;
	border-left: 0px;
	margin-left: -2px;
}

.midButton{
	border-left: 0px;
	margin-left: -2px;
}

.selected{
	background-color: #0E1336;
	color: #FFFFFF !important;
}


.titleSummary{
	width: 200px;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	box-sizing: border-box;
	border: 2px solid #0E1336;
	border-right: 0px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 32px;
	line-height: 28px;
	float:left;
	margin-top: 20px;
}

/* Remove this? */
.dataSummary{
	width: 200px;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #888888;
	letter-spacing: 1px;
	text-align: center;
	box-sizing: border-box;
	border: 2px solid #0E1336;
	border-right: 0px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top:0px;
	height: 32px;
	line-height: 28px;
	float:left;
}

.endCell{
	border-right:2px solid #0E1336;
}

/* Remove these */
/* #titleQueueTitle{width: 750px; border-right: 0px; text-align: left;}
#titleQueueArtist{width: 170px; border-right: 0px; text-align: left;}
#titleQueueLength{width: 80px;}

.dataQueuePosition{width: 50px; border-right: 0px; text-align: left;}
.dataQueueTitle{width: 750px; border-right: 0px; text-align: left;}
.dataQueueTitleShortened{width: 700px; border-right: 0px; text-align: left;}
.dataQueueArtist{width: 170px; border-right: 0px; text-align: left;}
.dataQueueLength{width: 80px; text-align: right;}*/

.bgPurple{background-color: #523877;}
.bgOrange{background-color: #F57E20;}
.bgGreen{background-color: #5C9240;}
.bgDarkGray{background-color: #999999;}

.roundTL{border-top-left-radius: 8px;}
.roundTR{border-top-right-radius: 8px;}
.roundBL{border-bottom-left-radius: 8px;}
.roundBR{border-bottom-right-radius: 8px;} 


.songlistSummaryHeading {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	background-color: #523877;
}





.queueHeading {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	background-color: #523877;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: 1px;
	vertical-align: middle;
	padding-left: 10px;
}

.songRequestTable {
	/* font-size: 13px;
	font-weight: bold; */
	color: #0E1336;
	letter-spacing: 1px;
	text-align: left;
	
}

.songRequestTable a:link {color: #0E1336;}  
.songRequestTable a:visited {color: #0E1336;}  
.songRequestTable a:hover {color: #F57E20}  
.songRequestTable a:active {color: #F57E20}  

.songTableHighlight {
	background-color: #cfb53b;
}
