/*
DARK BLUE - #0E1336;
LIGHT BLUE - #4376BB;
PURPLE - #523877;
ORANGE - #F57E20;
GREEN - #5C9240;
*/

html,
body
{
	width: 100%;
	min-height: 100vh;
	margin: 0px;
	padding: 0px;
	background-color: #CCCCCC;
	/* text-align: center; */
	/* font: 13px Helvetica, Arial; */
}

html{overflow-y: scroll;}

@media (min-width: 1200px) {
	body {
        background-image: url("https://kentobeans.live/assets/images/pattern-l.png"), url("https://kentobeans.live/assets/images/pattern-r.png");
		background-position: left top, right top;
		background-repeat: repeat-y, repeat-y;
    }
}

/* @font-face {
	font-family: "MavenPro";
	src: url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=optional");
} */

*{
	font-family: "Maven Pro", Helvetica, Arial;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.roundedTopLeft {
	border-top-left-radius: 8px;
}

.roundedTopRight {
	border-top-right-radius: 8px;
}

.roundedBottomLeft {
	border-bottom-left-radius: 8px;
}

.roundedBottomRight {
	border-bottom-right-radius: 8px;
}

.subheading {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	background-color: #523877;
}
