/*
DARK BLUE - #0E1336;
LIGHT BLUE - #4376BB;
PURPLE - #523877;
ORANGE - #F57E20;
GREEN - #5C9240;
*/

html,
body
{
	width: 100%;
	min-height: 100vh;
	margin: 0px;
	padding: 0px;
	background-color: #CCCCCC;
	/* text-align: center; */
	/* font: 13px Helvetica, Arial; */
}

html{overflow-y: scroll;}

@media (min-width: 1200px) {
	body {
        background-image: url("https://kentobeans.live/assets/images/pattern-l.png"), url("https://kentobeans.live/assets/images/pattern-r.png");
		background-position: left top, right top;
		background-repeat: repeat-y, repeat-y;
    }
}

/* @font-face {
	font-family: "MavenPro";
	src: url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=optional");
} */

*{
	font-family: "Maven Pro", Helvetica, Arial;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/** New Styles **/

.roundedTopLeft {
	border-top-left-radius: 8px;
}

.roundedTopRight {
	border-top-right-radius: 8px;
}

.roundedBottomLeft {
	border-bottom-left-radius: 8px;
}

.roundedBottomRight {
	border-bottom-right-radius: 8px;
}

.subheading {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	background-color: #523877;
}

.button {
	cursor: pointer;
	background-color: #CCCCCC;
	-webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.buttonMenu{
	font-size: 18px;
	font-weight: bold;
	color: #0E1336;
	letter-spacing: 1px;
	text-align: center;
	box-sizing: border-box;
	border: 2px solid #0E1336;
	display: inline-block;
	padding: 0px;
	width: 245px;
	height: 32px;
	line-height: 28px;
}

.buttonMenu:hover{
	color: #F57E20;
	/* border: 2px solid #F57E20; */
}

.selected{
	background-color: #0E1336;
	color: #FFFFFF !important;
}

/** End New Styles **/

#menuTop{padding-top: 20px;}

#container{
	width: 1000px;
	display: inline-block;
	text-align: center;
}

.innerContainer{
	display: inline-block;
	text-align: center;
	margin: 0px;
	padding: 0px;
}





