.songlistSummaryHeading {
	background-color: #523877;
}

.songlistSummaryData {
	background-color: #888888;
	vertical-align: middle;
}

.songlistSummary {
    /* font-size: 15px; */
	font-weight: bold;
	text-align: center;
    color: #FFFFFF;
	letter-spacing: 1px;
}

.requestRulesLink {
	cursor: pointer;
}